.input {
    width: 100%;;
    min-width: 220px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 12px 10px;
    &::placeholder {
        font-family: 'Lato';
        color: #272733;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}