.line__circle {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #42A9ED;
    border: 3px solid #286690;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 75%;
}