.select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    border-radius: 3px 3px 0px 0px;
    height: 48px;
    width: 100%;
    padding: 12px 30px 12px 10px;
    cursor: pointer;
}